<%- include('../partials/admin/header') %> <%-
include('../partials/admin/sidepanel') %>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <a href="/admin/category" class="btn btn-primary mb-3">Back to category</a>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Category</h4>
            <form class="forms-sample" method="post" action="/admin/category/add-category" onsubmit="return validateForm()">
              <div class="form-group">
                <label for="exampleInputName1">Category name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  name="categoryName"
                  placeholder="Category name"
                />
                <br>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputOffer"
                  name="offer"
                  placeholder="Offer in Percentage"
                />
                <div class="text-center mt-2" style="font-weight: bold;">
                    <% if(typeof error !== "undefined") { %>
                        <span class="text-danger"><%= error %></span>
                    <% } else if(typeof success !== "undefined") { %>
                        <span class="text-success"><%= success %></span>
                    <% } %>
                </div>
                
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
    </div>
    <%- include('../partials/admin/footer') %>
  </div>
</div>

<script>
  function validateForm() {
    // Validate Category Name
    var categoryNameInput = document.getElementById("exampleInputName1");
    var categoryNameValue = categoryNameInput.value;

    // Check if the category name contains only letters and spaces
    if (!/^[a-zA-Z\s]+$/.test(categoryNameValue)) {
      alert("Category name should only contain letters and spaces.");
      return false;
    }

    // Validate Offer Input
    var offerInput = document.getElementById("exampleInputOffer");
    var offerValue = parseFloat(offerInput.value);

    // Check if the offer value is a valid number between 0 and 100
    if (isNaN(offerValue) || offerValue < 0 || offerValue > 100) {
      alert("Offer price must be between 0 and 100 (inclusive) and cannot be a negative value.");
      return false;
    }

    return true;
  }
</script>
