<%- include('../partials/user/header') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<section class="bg0 p-t-100 p-b-120 mainSec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mb-3">
        <a href="/order" class="btn btn-primary">Back to Order</a>
      </div>
      <div class="col-md-12">
        <h2 class="h3 mb-3 text-black">Product Cancel Form</h2>
      </div>
      <div class="col-md-12">

        <form action="/cancel-order" method="post" id="return-form">
          <div class="p-3 p-lg-5 border">
            <input type="hidden" name="order" value="<%= order %>">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_fname" class="text-black">Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="c_fname" name="username" value="<%= currentUser.firstName %> <%= currentUser.lastName %>" required>
              </div>
              <div class="col-md-6">
                <label for="c_lname" class="text-black">Email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="c_lname" name="email" value="<%= currentUser.email %>" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="c_fname" class="text-black">Product<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="c_fname" name="product" value="<%= product.productName %>" readonly>
                <input type="hidden" name="productId" value="<%= product._id %>">
              </div>
              <div class="col-md-4">
                <label for="c_lname" class="text-black">Category<span class="text-danger">*</span></label>
                <% if(category&&category.name){ %>
                    <input type="text" class="form-control" id="c_lname" name="category" value="<%= category.name %>" readonly>
                <% }else {%>
                    <input type="text" class="form-control" id="c_lname" name="category" value="Category not mentioned" readonly>
                <% } %>
                
              </div>
              <div class="col-md-4">
                <label for="c_lname" class="text-black">Quantity<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="c_lname" name="quantity" value="<%= quantity %>" readonly>
              </div>
              <div class="col-md-4 mt-2">
                <label for="c_lname" class="text-black">Total price<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="c_lname" name="totalPrice" value="<%= totalPrice %>" readonly>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="exampleInputName1" class="text-black">Reason
                  <span class="text-danger">*</span>
                </label>
                <select name="reason" class="form-control" required>
                  <option value="Size Issue">
                    Size Issue
                  </option>
                  <option value="Quality Concerns">
                    Quality Concerns
                  </option>
                  <option value="Change Of Mind">
                    Change Of Mind
                  </option>
                  <option value="Others">
                    Others
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 address border p-3 mb-3">
              <input type="hidden" name="address" value="<%= currentAddress._id %>">
              <div class="d-flex justify-content-between">
                <h3>Address</h3>
                <% if (currentAddress) { %>

                <% } else { %>
                <a href="/add-address" class="btn btn-outline-primary">
                  Add New Address
                </a>
                <% } %>
              </div>
              <% if (currentAddress) { %>
              <p>
                  <%= currentAddress.city %>,
                  <%= currentAddress.pincode %>,
                  <%= currentAddress.district %>,
                  <%= currentAddress.state %>,
                  <%= currentAddress.country %>,
                  <%= currentAddress.address %>,
              </p>
              <% } else { %>
              <p>No address found.</p>
              <% } %>
            </div>
            <div class="form-group row col-md-12">
              <div class="">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="showCancelOrderAlert()">
                  submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Return Product Modal -->
<div class="modal fade" id="returnProductModal" tabindex="-1" role="dialog" aria-labelledby="returnProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="returnProductModalLabel">Confirm Cancel Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to cancel this product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmReturnProduct">
          Cancel Product
        </button>
      </div>
    </div>
  </div>
</div>


<%- include('../partials/user/footer') %>

<script>
  const form = document.getElementById("return-form")
  // Function to open the "Place Order" modal
  function showCancelOrderAlert() {
    Swal.fire({
      title: "Confirm Cancel Order",
      text: "Are you sure you want to cancel your order?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      cancelButtonColor: "#3085d6",
      confirmButtonText: "Yes, cancel it!",
      cancelButtonText: "No, keep it",
    }).then((result) => {
      if (result.isConfirmed) {
        // Handle confirmed action (e.g., submit the cancellation form)
        confirmCancelOrder();
      }
    });
  }

  // Function to handle the confirmed action (e.g., submit the cancellation form)
  function confirmCancelOrder() {
     Swal.fire("Cancelled!", "Your order has been cancelled.", "success").then(() => {
    // Submit the form
    form.submit();
  });
  }

  // Event handler for the "Place Order" button click
  $('#confirmReturnProduct').on('click', function() {
    const returnForm = document.getElementById("return-form");
    returnForm.submit();
    // After placing the order, you can close the modal
    $('#returnProductModal').modal('hide');
  });
</script>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function() {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function() {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function() {
      ps.update();
    })
  });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- cart -->
<script>
  function updateCartItem(cartItemId, incOrDec) {
    const data = {
      type: incOrDec
    };
    $.ajax({
      url: '/update-cart/' + cartItemId,
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function(response) {
        if (response.message !== "Insufficient stock.") {
          $('#totalPrice_' + cartItemId).text(response.totalPrice);
          $('#grandTotalPrice').text(response.grandTotal);
          $('#quantityElement_' + cartItemId).val(response.quantity);
        }
      },
      error: function(xhr, status, error) {
        console.log("uygu", status);
      }
    });
  }
</script>

</body>

</html>