<%- include('../partials/user/header') %>

<section class="bg0 p-t-100 p-b-120 mainSec">
  <div class="container">
    <% if (!orders.length) { %>
    No orders found.
    <% } else { %>
    <% orders.forEach((order)=> { %>
    <div class="d-flex flex-column flex-md-row border p-3 mb-3">
      <div class="col-md-3 col-12 d-flex justify-content-center mb-5">
        <a href="/productDetails?productId=<%= order.orderedProducts[0]?._id %>">
          <img src="<%= order.orderedProducts[0]?.images[0] %>" alt="Image" height="180px" width="180px" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <span class="d-block text-primary h6 text-uppercase">
          <%= order.orderedProducts[0]?.productName %>
        </span>
        <p>
          Price: ₹<%= order.totalAmount %>,
          Quantity: <%= order.products.quantity %>,<br>
          Payment Method: <%= order.paymentMethod %><br>
          Delivery Address: <%= order.deliveryAddress.city %>,
          <%= order.deliveryAddress.pincode %>,
          <%= order.deliveryAddress.district %>,
          <%= order.deliveryAddress.state %>,
          <%= order.deliveryAddress.country %>
        </p>
        <div class="d-flex">
          <div>
            <p class="text-black">
              Order Confirmed: <%= order.orderDate.toLocaleDateString() %>
            </p>
            <p class="text-black">
              Delivery: <%= order.deliveryDate.toLocaleDateString() %><br>
              <% if (!order.products.isCancelled) { %>
              <strong>Status:
                <% if (order.products.returnRequested==="Completed") { %>
                <span>Product returned</span>
                <% } else { %>
                <% if (order.status === "Delivered") { %>
                <span class="text-success"><%= order.status %></span>
            </p>
            <% } else { %>
            <span><%= order.status %></span>
            <% } %>
            <% } %>
            </strong>
            <% } %>
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <% if (order.products.isCancelled) { %>
        <p class="text-danger ml-3">
          Order Cancelled
        </p>
        <% } else { %>
        <% if (order.status==='Processing' || order.status==='Shipped') { %>
          <% if (order.products.cancelRequested === 'Nil') { %>
            <p class="ml-3">
              <a href="/cancel-order?order=<%= order._id %>&product=<%= order.orderedProducts[0]._id %>&category=<%= order.orderedProducts[0].category %>&quantity=<%= order.products.quantity %>&totalPrice=<%= order.products.total %>" class="btn btn-sm btn-outline-primary mb-3">
                Cancel
              </a>
            </p>
          <% } else { %>
            <% if (order.products.cancelRequested === "Pending") { %>
              <p class="ml-4">Cancel Request:
                <span class="text-info">Pending</span>
              </p>
              <% } else if (order.products.cancelRequested === "Rejected") { %>
              <p class="ml-4">Cancel
                Request: <span class="text-danger">Rejected</span>
              </p>
              <% } else if (order.products.cancelRequested === "Approved") { %>
              <p class="ml-4">Cancel
                Request: <span class="text-success">Approved</span>
              </p>
              <% } else if (order.products.cancelRequested === "Completed") { %>
              <span class="text-info ml-4">Order Cancelled</span>
              </p>
              <% } %>
          <% } %>
        <% } else if (order.status==='Delivered' ) { %>
        <% const currentDate=new Date(); %>
        <% const deliveryDate=new Date(order.deliveryDate); %>
        <% const sevenDaysAfterDelivery=new Date(deliveryDate); %>
        <% sevenDaysAfterDelivery.setDate(sevenDaysAfterDelivery.getDate() + 7); %>
        <% if (order.products.returnRequested==="Pending") { %>
        <p class="ml-4">Return Request:
          <span class="text-info">Pending</span>
        </p>
        <% } else if (order.products.returnRequested==="Rejected") { %>
        <p class="ml-4">Return
          Request: <span class="text-danger">Rejected</span>
        </p>
        <% } else if (order.products.returnRequested==="Approved") { %>
        <p class="ml-4">Return
          Request: <span class="text-success">Approved</span>
        </p>
        <% } else if (order.products.returnRequested==="Completed") { %>
        <span class="text-info ml-4">Product returned</span>
        </p>
        <% } else if (currentDate <= sevenDaysAfterDelivery) { %>
        <p class="ml-3">
          <a href="/return-product?order=<%= order?._id %>&product=<%= order.orderedProducts[0]?._id %>&category=<%= order.orderedProducts[0]?.category %>&quantity=<%= order.products.quantity %>&totalPrice=<%= order.products.total %>" class="btn btn-sm btn-outline-primary mb-3">
            Return
          </a>
        </p>
        <% } %>
        <% } %>
        <% } %>
      </div>
    </div>
    <% }) %>
    <% } %>
    <!-- Pagination controls -->

    <div class="pagination">
      <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="?page=<%= i %>" class="page-link"><%= i %></a>
      <% } %>
    </div>


    <div class="row" style="margin-top: 15px;">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <p><a href="/shop" class="btn btn-outline-primary btn-sm btn-block">Continue
                Shopping
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLabel">Product Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/submitReview" method="post">
        <div class="modal-body">

          <!-- Hidden input for Product ID -->
          <input type="hidden" id="productId" name="productId" value="productId">

          <!-- Product Rating -->
          <label for="rating">Rating:</label>
          <div class="rating" id="productRating">
            <!-- Initial star rating will be set dynamically -->
          </div>

          <!-- Review Textarea -->
          <label for="review">Review:</label>
          <textarea class="form-control" id="review" name="review" rows="3"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit Review</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/user/footer') %>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function() {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function() {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function() {
      ps.update();
    })
  });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- cart -->
<script>
  function updateCartItem(cartItemId, incOrDec) {
    const data = {
      type: incOrDec
    };
    $.ajax({
      url: '/update-cart/' + cartItemId,
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function(response) {
        if (response.message !== "Insufficient stock.") {
          $('#totalPrice_' + cartItemId).text(response.totalPrice);
          $('#grandTotalPrice').text(response.grandTotal);
          $('#quantityElement_' + cartItemId).val(response.quantity);
        }
      },
      error: function(xhr, status, error) {
        console.log("uygu", status);
      }
    });
  }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Font Awesome JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha384-Q6qt6qZCcyAq1WyG0B8voXN1oWoRq9PWBqMlUAqFt8CH4AGilr5S6ENXdeFUZbx" crossorigin="anonymous"></script>

<script>
  // Function to set the product ID, initial star rating, and initial review when the modal is shown
  $('#reviewModal').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var productId = button.data('product-id'); // Extract info from data-* attributes
    var initialRating = button.data('initial-rating'); // Extract the initial rating
    var initialReview = button.data('initial-review'); // Extract the initial review
    $('#productId').val(productId); // Set the product ID in the hidden input

    // Set the initial star rating dynamically
    setInitialRating(initialRating);

    // Set the initial review content
    $('#review').val(initialReview);
  });

  // Function to set the initial star rating
  function setInitialRating(initialRating) {
    var ratingDiv = $('#productRating');
    ratingDiv.empty(); // Clear existing stars

    // Create stars based on the initial rating
    for (var i = 5; i >= 1; i--) {
      var star = $('<input type="radio" id="star' + i + '" name="rating" value="' + i + '" /><label for="star' + i + '" title="' + i + ' stars"></label>');
      if (i <= initialRating) {
        star.prop('checked', true); // Check the stars up to the initial rating
      }
      ratingDiv.append(star);
    }
  }
</script>

</body>

</html>